name: Run tests

on:
  push:
  pull_request:
    branches:
      - main
      - testing
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.0
        with:
          go-version-file: "go.mod"
      - name: Install dependencies
        run: go mod download

      - name: Run Parser Tests
        run: go test ./medicamentsparser -v

      - name: Run Main Tests
        run: go test . -v
